<div class="header__inner">
    <a href="/" class="header__logo section-heading">
        <h1>2K Barbershop</h1>
    </a>
    <nav class="navbar">
        <ul class="navbar__list">
            <li class="navbar__item">
                <a href="./index.html" class="navbar__link navbar__link--active"
                    >Home</a
                >
            </li>
            <li class="navbar__item">
                <a href="./service.html" class="navbar__link">Service</a>
            </li>
            <li class="navbar__item">
                <a href="./about.html" class="navbar__link">About us</a>
            </li>
            <li class="navbar__item">
                <a href="./new.html" class="navbar__link">News</a>
            </li>
            <li class="navbar__item">
                <a href="/shop.html" class="navbar__link">Shop</a>
            </li>
        </ul>
    </nav>
    <button class="header__action">Contact us</button>
</div>
